@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20%;
    background-color: #0056b3;
    box-shadow: 0 0 10px 1px black;
    color: #fff;
}


.ul-header{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #ffff;
    width: 580px;
}

.a-header{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.a-header:hover{
    color: #C0C0C0	;
}


/* Caixa do user */

#register-form{
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 100%;
    max-width: 500px; 
    height: 40vh;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

#register-form input {
    margin-top: 50px;
    height: 40px;
    border-radius: 9px;
    padding: 5px 15px;
    outline: none;
    border: none;
    border: 1px solid black;
}

.title-form{
    text-align: center;
    /* text-transform: uppercase; */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
}


.button-form-register{
    margin: 0 auto;
    margin-top: 50px;
    width: 240px;
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.button-form-register:hover{
    background-color: #0056b3;
    color: #fff;
}